<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Главная</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div id="top-panel">
        <div class="content">
            <a href="/" class="logo"></a>
            <label id="burger-menu" for="menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <input type="checkbox" value="1" id="menu-trigger">
            <ul id="main-menu">
                <li>
                    <a href="./index.html">Главная</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
                <li>
                    <a href="./courses.html">Курсы</a>
                </li>
                <li>
                    <a href="./item.html">Мастерская</a>
                </li>
                <li>
                    <a href="#">О школе</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <a href="#" class="btn btn-pink login-btn">Войти</a>
        </div>
    </div>
    
    <div id="header" class="main">
        <div class="content">
            <div class="content-wrap">
                <h1 class="title">Обучаем <br>компьютерной <br>графике и анимации</h1>
                <div class="description">Жми кнопку ниже<br><span>и получи новую профессию</span><br>с зарплатой от 55 000 рублей уже сейчас</div>
                <div class="buttons">
                    <button type="button" class="btn btn-pink btn-xl">Мне интересно</button>
                    <span class="change">Выбрать курс</span>
                </div>
            </div>
            <img src="images/course-img.png" class="img">
        </div>
    </div>
    
    <div id="about">
        <div class="content">
            <div class="block-title">О школе</div>
            <span class="figure-rocket"></span>
            <div class="description">
                <p>Хотите освоить профессию 3D аниматора с нуля и научиться создавать классные ролики?</p>
                <p>Мы обучим студента всем законам анимации и в каждом уроке закрепим их на практике. Каждое задание курса раскрывает через практику почти все элементы движения.</p>
                <p>Самым важным процессом в обучении является конструктивная критика. Лучше взгляда профессионала с многолетним опытом работы быть не может. В процессе обучения преподаватель раз в неделю дает развернутый ответ на работу студента.</p>
                <p>Пройдя первый класс, студент будет знать основную терминологию в анимации и все востребованные инструменты самой популярной программы Autodesk Maya.</p>
                <p>Основная задача данного курса - усвоить базу и отточить навыки, чтобы легче и быстрее двигаться в дальнейшем обучении и карьерной лестнице.</p>
            </div>
        </div>
    </div>
    
    <div id="courses" class="courses_main">
        <div class="background"></div>
        <div class="content">
            <div class="block-title">Курсы</div>
            <div class="course_cards mobile" id="courses-slider">
                
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                
            </div>
            
            <div class="courses-slider-controls">
                <div id="courses-slider-nav" class="slider-dot-nav">
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                </div>
                <div id="courses-slider-btns">
                    <button class="btn btn-pink btn-round btn-slider-nav prev" id="courses-prev-btn" data-controls="prev"><span></span></button>
                    <button class="btn btn-pink btn-round btn-slider-nav next" id="courses-next-btn" data-controls="next"><span></span></button>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="for-whom" class="main">
        <div class="content">
            <span class="figure-cube"></span>
            <div class="block-title">Преимущества обучения</div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="title">Новичкам</div>
                        <div class="description">Пройдете весь цикл производство анимации и сделаете индивидуальный деморил,и начнете зарабатывать около 40 000 руб на продаже своих навыков.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Нравятся игры?</div>
                        <div class="description">Сделайте первый шаг к оживлению персонажей. Путь аниматора всегда начинается с основ, вы вдохнете жизнь в свою игру.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">3D моделлерам</div>
                        <div class="description">Хотите освоить профессию 3D аниматора с нуля и научиться создавать классные ролики? Страх анимации персонажей уйдет в прошлое. Анимация будет динамичной и ритмичной.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">С базовым опытом</div>
                        <div class="description">Структурируете знания по основам анимации, придумаете уникальный сюжет и войдете в поток генерации идей.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="questions">
        <div class="content">
            <div class="block-title">Появились вопросы<span class="symbol">?</span></div>
        </div>
    </div>
    
    <div id="training" class="main">
        <div class="content">
            <div class="block-title">Как проходит обучение</div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="title">Первые задания</div>
                        <div class="description">— Сразу после оплаты вы попадаете в закрытую группу, где лежат первые задания. Перед стартом курса вам будет чем заняться. Чем раньше впишетесь, тем тщательнее подготовитесь к курсу, и тем лучше результат получите.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Обучение в игровом формате</div>
                        <div class="description">Это обучение с применением игровых механик, как в игре вы будете проходить занятия как уровни, зарабатывать очки за выполнение домашнего задания. И в итоге получите дополнительные бонусы!</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Домашние задания</div>
                        <div class="description">1. Основные - то задание, которое необходимо выполнить по пройденному материалу. 2. Бонусное - можно сказать, собственный проект. Он быстрее прокачает навыки и будет возможность получить дополнительные плюшки от школы. По каждой домашке будет сделан ролик с ее разбором. Вы получите подробный фидбек, узнаете на что необходимо обратить внимание, как можно улучшить работу на данном этапе и т.д.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Онлайн встречи</div>
                        <div class="description">В конце недели будет проходить вебинар внутри платформы, на котором сможете задать вопросы, возникшие в процессе выполнения домашнего задания. Также можно пообщаться на отвлеченные темы.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
            </div>
            <span class="figure figure2-3"></span>
        </div>
    </div>
    
    <div id="workshop" class="courses_main">
        <div class="background"></div>
        <div class="content">
            <div class="block-title">Мастерская</div>
            <div class="course_cards mobile" id="workshop-slider">
                
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="card_head">
                        <div class="header">Начало обучения</div>
                        <div class="date">1 ноября</div>
                        <span class="badge">
                            <span class="badge_big_text">5</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                    <div class="card_content">
                        <div class="img">
                            <img src="images/course-img.png" alt="" class="img_big">
                            <img src="images/hero1.png" alt="" class="img_small">
                        </div>
                        <div class="text_wrap">
                            <div class="title">Быстрый старт в 3D анимацию</div>
                            <div class="description">Вы с нуля сделаете первые 30 000 рублей на анимации, уделяя работе всего 4 часа в день.</div>
                        </div>
                        <div class="info">
                            <div class="start">
                                <div class="header">Начало обучения</div>
                                <div class="date">1 ноября</div>
                            </div>
                            <div class="instructor">
                                <img src="images/instructor.png" alt="">
                                <div class="header">Автор курса</div>
                                <div class="fio">Александр Серебряков</div>
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="" class="btn btn-pink btn-md">Подробнее</a>
                        <span class="badge">
                            <span class="badge_big_text">1</span>
                            <span class="badge_small_text">класс</span>
                        </span>
                    </div>
                </div>
                
            </div>
            <div class="workshop-slider-controls">
                <div id="workshop-slider-nav" class="slider-dot-nav">
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                </div>
                <div id="workshop-slider-btns">
                    <button class="btn btn-pink btn-round btn-slider-nav prev" id="workshop-prev-btn" data-controls="prev"><span></span></button>
                    <button class="btn btn-pink btn-round btn-slider-nav next" id="workshop-next-btn" data-controls="next"><span></span></button>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="examples">
        <div class="content">
            <div class="block-title">Работы студентов</div>
        </div>
    </div>
    
    <div id="reviews">
        <div class="content">
            <div class="block-title">Отзывы</div>
            <div class="slider">
                <div class="item">
                    <img src="" alt="">
                </div>
                <div class="item">
                    <img src="" alt="">
                </div>
                <div class="item">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div id="knowledge">
        <div class="content">
            <div class="block-title">Где применять знания<span class="symbol">?</span></div>
            <div class="skills">
                <div class="cards">
                    <div class="card">
                        <div class="img-wrap">
                            <img src="images/s1.png" alt="">
                        </div>
                        <div class="description-wrap">
                            <div class="description">— с помощью системы «НАСТРОЙКА ИНТЕРФЕЙСА» создадите удобную и эффективную среду для работы внутри Autodesk Maya</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-wrap">
                            <img src="images/s2.png" alt="">
                        </div>
                        <div class="description-wrap">
                            <div class="description">— с помощью пошаговой инструкции «ТВОРЕЦ» ты за 20 минут сделаете первую анимацию</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-wrap">
                            <img src="images/s3.png" alt="">
                        </div>
                        <div class="description-wrap">
                            <div class="description">— С помощью моей авторской техники из 3х шагов, вы увеличите свою скорость работы в 10 раз</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-wrap">
                            <img src="images/s4.png" alt="">
                        </div>
                        <div class="description-wrap">
                            <div class="description">— С помощью простой и эффективной техники: «УПРАВЛЕНИЕ ПЕРСОНАЖЕМ», вы всего за 1 день создадите плавную анимацию, которая приведёт вас и зрителя в восторг</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="vendor/tiny-slider/tiny-slider.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>