<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Главная</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div id="top-panel">
        <div class="content">
            <a href="/" class="logo"></a>
            <label id="burger-menu" for="menu-trigger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <input type="checkbox" value="1" id="menu-trigger">
            <ul id="main-menu">
                <li>
                    <a href="./index.html">Главная</a>
                </li>
                <li>
                    <a href="#">Блог</a>
                </li>
                <li>
                    <a href="./courses.html">Курсы</a>
                </li>
                <li>
                    <a href="./item.html">Мастерская</a>
                </li>
                <li>
                    <a href="#">О школе</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <a href="#" class="btn btn-pink login-btn">Войти</a>
        </div>
    </div>
    <div id="header">
        <div class="content">
            <div class="content-wrap">
                <h1 class="title">Быстрый старт <br>в 3D Анимацию <br>с нуля</h1>
                <div class="description">Вы с нуля сделаете первые 30 000 рублей <br>на анимации, уделяя работе всего <br>4 часа в день.</div>
                <div class="interactive">
                    <span class="round"></span>
                    <span class="round"></span>
                    <button type="button" class="btn btn-pink btn-round btn-play">
                        <span></span>
                    </button>
                    <span class="text">Просмотрите <br>Промо - видео</span>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-pink btn-xl">Записаться</button>
                    <button type="button" class="btn btn-pink btn-xl">Смотреть программу</button>
                    <span class="date">Старт 27 августа</span>
                    <span id="header-classroom">
                        <span class="number">1</span>
                        <span class="text">класс</span>
                    </span>
                </div>
            </div>
            <img src="images/course-img.png" class="img">
        </div>
    </div>
    <div id="for-whom">
        <div class="content">
            <span class="figure-sphere"></span>
            <span class="figure-cube"></span>
            <div class="block-title">Кому подойдет курс<span class="symbol">?</span></div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="title">Новичкам</div>
                        <div class="description">Пройдете весь цикл производство анимации и сделаете индивидуальный деморил,и начнете зарабатывать около 40 000 руб на продаже своих навыков.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Нравятся игры?</div>
                        <div class="description">Сделайте первый шаг к оживлению персонажей. Путь аниматора всегда начинается с основ, вы вдохнете жизнь в свою игру.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">3D моделлерам</div>
                        <div class="description">Хотите освоить профессию 3D аниматора с нуля и научиться создавать классные ролики? Страх анимации персонажей уйдет в прошлое. Анимация будет динамичной и ритмичной.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">С базовым опытом</div>
                        <div class="description">Структурируете знания по основам анимации, придумаете уникальный сюжет и войдете в поток генерации идей.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="purpose">
        <div class="content">
            <span class="figure figure1-4"></span>
            <div class="block-title">Цель курса</div>
            <span class="figure-rocket"></span>
            <div class="description">
                <p>Хотите освоить профессию 3D аниматора с нуля и научиться создавать классные ролики?</p>
                <p>Мы обучим студента всем законам анимации и в каждом уроке закрепим их на практике. Каждое задание курса раскрывает через практику почти все элементы движения.</p>
                <p>Самым важным процессом в обучении является конструктивная критика. Лучше взгляда профессионала с многолетним опытом работы быть не может. В процессе обучения преподаватель раз в неделю дает развернутый ответ на работу студента.</p>
                <p>Пройдя первый класс, студент будет знать основную терминологию в анимации и все востребованные инструменты самой популярной программы Autodesk Maya.</p>
                <p>Основная задача данного курса - усвоить базу и отточить навыки, чтобы легче и быстрее двигаться в дальнейшем обучении и карьерной лестнице.</p>
            </div>
        </div>
    </div>
    <div id="instructor">
        <div class="content">
            <div class="block-title">Инструктор курса</div>
            <div id="curse-instructor">
                <img src="images/instructor.png" alt="" class="photo">
                <div class="cards">
                    <div class="card card-1">
                        <span class="number-img number-img-1"></span>
                        <div class="description-wrap">
                            <div class="description">Начал свой путь из Волгограда и зарабатывал 8 000 рублей</div>
                        </div>
                    </div>
                    <div class="card card-2">
                        <span class="number-img number-img-2"></span>
                        <div class="description-wrap">
                            <div class="description">Укрепил базу по анимации и вышел на доход от 56 000 рублей</div>
                        </div>
                    </div>
                    <div class="card card-3">
                        <span class="number-img number-img-3"></span>
                        <div class="description-wrap">
                            <div class="description">Сейчас 3D аниматор более 8 лет</div>
                        </div>
                    </div>
                    <div class="card card-4">
                        <span class="number-img number-img-4"></span>
                        <div class="description-wrap">
                            <div class="description">Выполнил 6000+ сцен анимации</div>
                        </div>
                    </div>
                    <div class="card card-5">
                        <span class="number-img number-img-5"></span>
                        <div class="description-wrap">
                            <div class="description">Участвовал в проектах: Сказочный Патруль, Герои Энвелла, Ми-ми-мишки и др.</div>
                        </div>
                    </div>
                    <div class="card card-6">
                        <span class="number-img number-img-6"></span>
                        <div class="description-wrap">
                            <div class="description">Основал онлайн-школу CGAim</div>
                        </div>
                    </div>
                </div>
                <div class="interactive">
                    <div class="demo">
                        <button type="button" class="btn btn-pink btn-round btn-play">
                            <span></span>
                        </button>
                        <span class="arrow"></span>
                        <span class="text">Деморил<br>преподавателя</span>
                        <a href="#"></a>
                    </div>
                    <div class="fio">Александр <br>Серебряков</div>
                </div>
                <div class="quote">Я тот эксперт, который сам прошёл через всё, чему я учу. <br>Я практик, который делится с тобой личным работающим опытом.</div>
                <div class="text-center">
                    <a href="#" class="btn btn-pink btn-xl">Смотреть программу</a>
                </div>
            </div>
        </div>
    </div>
    <div id="program">
        <div class="content">
            <span class="figure figure1-2"></span>
            <div class="block-title">Программа курса</div>
            <div class="module-block module1">
                <div class="block-title-2">Модуль 1: Первая анимация</div>
                <div class="description">Уолт Дисней — это один из создателей современной анимации. <br>Под его руководством 80 лет назад были созданы 12 законов анимации</div>
                <div class="animation-law">
                    <div class="card">
                        <div class="card-content">
                            <div class="title">12 законов анимации</div>
                            <div class="list">
                                <div class="col">
                                    <span>1. Время и расстояние</span>
                                    <span>2. Сжатие и растяжение</span>
                                    <span>3. Подготовка или отказное движение</span>
                                    <span>4. Сценичность</span>
                                    <span>5. Прямо вперед или от позы к позе</span>
                                    <span>6. Захлест или наложение движений</span>
                                </div>
                                <div class="col">
                                    <span>7. Смягчение начала и завершение движения</span>
                                    <span>8. Движение по дугам</span>
                                    <span>9. Второстепенные действия</span>
                                    <span>10. Преувиличение</span>
                                    <span>11. Четкие позы</span>
                                    <span>12. Привлекательность</span>
                                </div>
                            </div>
                        </div>
                        <span class="figure-man"></span>
                    </div>
                    <div class="description">В современном мире нельзя обойтись без применения этих законов. <br>Далеко не достаточно знать теорию как делается анимация, самое важное практиковаться и следить, чтобы все законы соблюдались. <br>Изучив законы на практике, можно познать дзен в анимации :)</div>
                    <span class="figure-mouse"></span>
                </div>
                <div class="skills">
                    <div class="title">В этой части вы научитесь:</div>
                    <div class="cards">
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s1.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— с помощью системы «НАСТРОЙКА ИНТЕРФЕЙСА» создадите удобную и эффективную среду для работы внутри Autodesk Maya</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s2.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— с помощью пошаговой инструкции «ТВОРЕЦ» ты за 20 минут сделаете первую анимацию</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s3.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью моей авторской техники из 3х шагов, вы увеличите свою скорость работы в 10 раз</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s4.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью простой и эффективной техники: «УПРАВЛЕНИЕ ПЕРСОНАЖЕМ», вы всего за 1 день создадите плавную анимацию, которая приведёт вас и зрителя в восторг</div>
                            </div>
                        </div>
                    </div>
                    <div class="afterword">Благодаря этому модулю, вы получите пошаговый план создания выразительной <br>анимации, вам останется только внедрить его в свою жизнь.</div>
                </div>
            </div>

            <div class="module-block module2">
                <div class="background"></div>
                <span class="figure figure1-6"></span>
                <div class="block-title-2">Модуль 2: Творческая изюминка</div>
                <div class="description">
                    <div class="text-wrap">
                        <p>Мой ученик Миша спросил, как придумать интересный сюжет для сценки. <br>Каждого человека вокруг постоянно окружают интересные случаи, важно их правильно подмечать и переносить в анимацию - это называется творческий процесс. Творческую идею важно не только накапливать, но и создавать.</p>
                        <p>На 1 неделю вы станете творцом, который словоно скульптор из камня, вытачивает скульптуру. <br>Результат - ваша первая анимация.</p>
                        <p>Причём плавная, сексуальная, такая, что глаз не оторвать. И если вы думаете, что это будет скучно, то глубоко ошибаетесь.</p>
                        <p>Я покажу вам, как попасть в творческий поток, сгенерировать те идеи, которые вдохнут в вас энергию, и как довести их до конца.Вы будете учиться основам на которых построены всеми любимый Король и лев, Аладдин, Тарзан, Чип и Дейл и т.д.</p>
                    </div>
                    <span class="figure-sculpture"></span>
                </div>
                <div class="skills">
                    <div class="title">В этой части вы научитесь:</div>
                    <div class="cards">
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s5.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью системы «ВЛЮБЛЕНИЯ В ПЕРСОНАЖА» продумаете сюжет, от которого клиент не сможет оторваться</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s6.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— Как распределить свободное время,чтобы стать сконцентрированным на анимации</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s7.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью техники «РАЗДЕЛЯЙ И ДЕЙСТВУЙ» управлять вниманием зрителя</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s8.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью творческой техники «ПОТОК» найдете уникальные идеи и выберете сферу деятельности</div>
                            </div>
                        </div>
                    </div>
                    <div class="afterword">Благодаря этому модулю, вы получите пошаговый план создания выразительной анимации, вам останется только внедрить его в свою жизнь.</div>
                </div>
            </div>

            <div class="module-block module3">
                <span class="figure figure2-1"></span>
                <span class="figure figure1-3"></span>
                <div class="block-title-2">Модуль 3: Творческая изюминка</div>
                <div class="description">
                    <div class="text-wrap">
                        <p>Итак, теперь вы умеете анимировать, понимаете, что тебе делать и какие сильные стороны использовать, а страхов придумать творческую идею уже и в помине нет :) Осталось только сделать немного действий и результат у вас в кармане…</p>
                    </div>
                    <span class="figure-box"></span>
                </div>
                <div class="skills">
                    <div class="title">В этой части вы научитесь:</div>
                    <div class="cards">
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s9.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— С помощью техники: «ЗВОНОК ДРУГУ» вы найдёте первого клиента, который заплатит вам от 5 000 рублей за твою работу</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-wrap">
                                <img src="images/s10.png" alt="">
                            </div>
                            <div class="description-wrap">
                                <div class="description">— Вы получишь пошаговую систему: «БОГАТЫЙ АНИМАТОР», помощью которой вы всего за 1 год вырастете от новичка до гуру с доходом от 150 000 рублей</div>
                            </div>
                        </div>
                    </div>
                    <div class="afterword">Благодаря этому модулю, вы получите пошаговый план создания выразительной анимации, вам останется только внедрить его в свою жизнь.</div>
                </div>
            </div>

            <div class="module-block module4">
                <div class="background"></div>
                <span class="figure figure2-6"></span>
                <div class="block-title-2">Практическая часть: Творческая изюминка</div>
                <div class="box">
                    <div class="box-content">
                        <div class="buttons" id="lectures-slider-nav">
                            <button type="button" class="btn btn-pink btn-md btn-exo">Первый месяц</button>   
                            <button type="button" class="btn btn-pink btn-md btn-exo">Второй месяц</button>   
                            <button type="button" class="btn btn-pink btn-md btn-exo">Третий месяц</button>   
                        </div>
                        <div class="lectures-block" id="lectures-slider">
                            <div class="item">
                                <div class="img-wrap">
                                    <img src="images/hero1.png" alt="" class="img">
                                </div>
                                <div class="list">
                                    <div class="row">
                                        <div class="title">Лекция 101: <span>Интерфейс, тайминг и спейсинг</span></div> 
                                        <div class="text">Изучаем и начинаем применять интерфейс программы для первой анимации прыгающего мячика.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 102: <span>Сценичность и движение по дугам</span></div> 
                                        <div class="text">Придумаете идею по методике генерации идей и создадите план действия персонажа с хвостом.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 103: <span>Сквош и Стреч</span></div> 
                                        <div class="text">Продолжите анимировать сцену персонажа с хвостом, добавите ему сжатие и растяжение.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 104: <span>Захлесты</span></div> 
                                        <div class="text">Оживляем хвост прыгающему персонажу, добавляем остаточные движения окружению.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-wrap">
                                    <img src="images/hero1.png" alt="" class="img">
                                </div>
                                <div class="list">
                                    <div class="row">
                                        <div class="title">Лекция 201: <span>Интерфейс, тайминг и спейсинг</span></div> 
                                        <div class="text">Изучаем и начинаем применять интерфейс программы для первой анимации прыгающего мячика.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 202: <span>Сценичность и движение по дугам</span></div> 
                                        <div class="text">Придумаете идею по методике генерации идей и создадите план действия персонажа с хвостом.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 203: <span>Сквош и Стреч</span></div> 
                                        <div class="text">Продолжите анимировать сцену персонажа с хвостом, добавите ему сжатие и растяжение.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 204: <span>Захлесты</span></div> 
                                        <div class="text">Оживляем хвост прыгающему персонажу, добавляем остаточные движения окружению.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-wrap">
                                    <img src="images/hero1.png" alt="" class="img">
                                </div>
                                <div class="list">
                                    <div class="row">
                                        <div class="title">Лекция 301: <span>Интерфейс, тайминг и спейсинг</span></div> 
                                        <div class="text">Изучаем и начинаем применять интерфейс программы для первой анимации прыгающего мячика.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 302: <span>Сценичность и движение по дугам</span></div> 
                                        <div class="text">Придумаете идею по методике генерации идей и создадите план действия персонажа с хвостом.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 303: <span>Сквош и Стреч</span></div> 
                                        <div class="text">Продолжите анимировать сцену персонажа с хвостом, добавите ему сжатие и растяжение.</div>
                                    </div>
                                    <div class="row">
                                        <div class="title">Лекция 304: <span>Захлесты</span></div> 
                                        <div class="text">Оживляем хвост прыгающему персонажу, добавляем остаточные движения окружению.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="lectures-slider-btn">
                            <button class="btn btn-pink btn-round" id="lectures-prev-btn" data-controls="prev"><span></span></button>
                            <button class="btn btn-pink btn-round" id="lectures-next-btn" data-controls="next"><span></span></button>
                        </div>
                    </div>
                    <div class="apps">
                        <div class="list">
                            <div class="title">Используемые программы на курсе:</div>
                            <div class="names">Maya, Xmind, DaVinci</div>
                        </div>
                        <div class="icons">
                            <img src="images/app1.png" alt="">
                            <img src="images/app2.png" alt="">
                            <img src="images/app3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="training">
        <div class="content">
            <div class="block-title">Как проходит обучение</div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="title">Первые задания</div>
                        <div class="description">— Сразу после оплаты вы попадаете в закрытую группу, где лежат первые задания. Перед стартом курса вам будет чем заняться. Чем раньше впишетесь, тем тщательнее подготовитесь к курсу, и тем лучше результат получите.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Обучение в игровом формате</div>
                        <div class="description">Это обучение с применением игровых механик, как в игре вы будете проходить занятия как уровни, зарабатывать очки за выполнение домашнего задания. И в итоге получите дополнительные бонусы!</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Домашние задания</div>
                        <div class="description">1. Основные - то задание, которое необходимо выполнить по пройденному материалу. 2. Бонусное - можно сказать, собственный проект. Он быстрее прокачает навыки и будет возможность получить дополнительные плюшки от школы. По каждой домашке будет сделан ролик с ее разбором. Вы получите подробный фидбек, узнаете на что необходимо обратить внимание, как можно улучшить работу на данном этапе и т.д.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Онлайн встречи</div>
                        <div class="description">В конце недели будет проходить вебинар внутри платформы, на котором сможете задать вопросы, возникшие в процессе выполнения домашнего задания. Также можно пообщаться на отвлеченные темы.</div>
                    </div>
                    <div class="img-wrap"></div>
                </div>
            </div>
            <span class="figure figure2-3"></span>
        </div>
    </div>

    <div id="packages">
        <div class="background"></div>
        <div class="content">
            <div class="block-title">Пакеты</div>
            <div class="cards" id="package-slider">
                <div class="card">
                    <div class="card-head">
                        <div class="title">Старт</div>
                        <div class="date">Сразу после покупки</div>
                    </div>
                    <div class="card-content">
                        <div class="title">Стандарт</div>
                        <ul class="list">
                            <li>Доступ к лекциям сразу после оплаты</li>
                            <li>Самостоятельное изучение</li>
                        </ul>
                        <div class="price">13 500 Р</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-head">
                        <div class="title">Старт</div>
                        <div class="date">27 августа</div>
                    </div>
                    <div class="card-content">
                        <div class="title">Расширеный</div>
                        <ul class="list">
                            <li>Доступ к лекции каждую неделю</li>
                            <li>Проверка домашних работ</li>
                            <li>Закрытый канал в дискорде</li>
                            <li>Групповые онлайн встречи</li>
                            <li>Начало в назначенную дату</li>
                            <li>Сертификат об окончании курса</li>  
                        </ul>
                        <div class="price">18 900 Р</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-head">
                        <div class="title">Старт</div>
                        <div class="date">Ближайший понедельник</div>
                    </div>
                    <div class="card-content">
                        <div class="title">Премиум</div>
                        <ul class="list">
                            <li>Доступ к лекции каждую неделю</li>
                            <li>Проверка домашних работ</li>
                            <li>Закрытый канал в дискорде</li>
                            <li>Личные онлайн встречи</li>
                            <li>Старт в ближайший понедельник</li>
                            <li>Гарантируем результат</li>
                            <li>Сертификат об окончании курса</li>
                        </ul>
                        <div class="price">32 400 Р</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
            </div>
            <div class="packages-controls">
                <div id="packages-slider-nav" class="slider-dot-nav">
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                </div>
                <div id="packages-slider-btns">
                    <button class="btn btn-pink btn-round btn-slider-nav prev" id="packages-prev-btn" data-controls="prev"><span></span></button>
                    <button class="btn btn-pink btn-round btn-slider-nav next" id="packages-next-btn" data-controls="next"><span></span></button>
                </div>
            </div>
        </div>
    </div>

    <div id="installment-plan">
        <div class="content">
            <div class="block-title">Действует рассрочка</div>
            <div class="cards" id="installment-plan-slider">
                <div class="card">
                    <div class="card-content">
                        <div class="title">Стандарт</div>
                        <div class="price">5 000 Р</div>
                        <div class="period">помесячно <br>3 месяца</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Расширеный</div>
                        <div class="price">7 000 Р</div>
                        <div class="period">помесячно <br>3 месяца</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="title">Премиум</div>
                        <div class="price">12 000 Р</div>
                        <div class="period">помесячно <br>3 месяца</div>
                        <a href="#" class="btn btn-pink btn-md btn-exo">Записаться на курс</a>
                    </div>
                </div>
            </div>
            <div class="installment-controls">
                <div id="installment-slider-nav" class="slider-dot-nav">
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                </div>
                <div id="installment-slider-btns">
                    <button class="btn btn-pink btn-round btn-slider-nav prev" id="installment-prev-btn" data-controls="prev"><span></span></button>
                    <button class="btn btn-pink btn-round btn-slider-nav next" id="installment-next-btn" data-controls="next"><span></span></button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="bonuses">
        <div class="content">
            <div class="block-title">Бонусы</div>
            <div class="slider-wrap">
                <div class="slider" id="bonus-slider">
                    <div class="item">
                        <div class="item-content-wrap">
                            <div class="img">
                                <img src="img/figure-man.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="title">Видео-урок "Быстрый риг"</div>
                                <div class="description">Как с помощью авторига создать скелет персонажу за 1 час и увеличить свой доход на 30%. </div>
                                <div class="price">Стоимость: 5500 рублей.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content-wrap">
                            <div class="img">
                                <img src="img/figure-man.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="title">Видео-урок "Быстрый риг" 2</div>
                                <div class="description">Как с помощью авторига создать скелет персонажу за 1 час и увеличить свой доход на 30%. </div>
                                <div class="price">Стоимость: 1300 рублей.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content-wrap">
                            <div class="img">
                                <img src="img/figure-man.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="title">Видео-урок "Быстрый риг" 3</div>
                                <div class="description">Как с помощью авторига создать скелет персонажу за 1 час и увеличить свой доход на 30%. </div>
                                <div class="price">Стоимость: 7800 рублей.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bonus-slider-nav" class="slider-dot-nav">
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                    <button type="button" class="btn"></button>
                </div>
                <button class="btn btn-pink btn-round" id="bonus-prev-btn" data-controls="prev"><span></span></button>
                <button class="btn btn-pink btn-round" id="bonus-next-btn" data-controls="next"><span></span></button>
            </div>
        </div>
    </div>

    <div id="reviews">
        <div class="content">
            <div class="block-title">Отзывы</div>
            <div class="control-reviews">
                <button type="button" class="btn btn-pink btn-md btn-exo">Текстовые отзывы</button>
                <button type="button" class="btn btn-pink btn-md btn-exo">Видео отзывы</button>
            </div>
            <div class="slider">
                <div class="item">
                    <img src="" alt="">
                </div>
                <div class="item">
                    <img src="" alt="">
                </div>
                <div class="item">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="faq">
        <div class="background"></div>
        <div class="content"> 
            <div class="block-title">Ответы на вопросы</div>
            <div class="accordion" id="faq-accordion">
                <div class="item">
                    <span class="trigger"></span>
                    <div class="title">Я могу научится сам?</div>
                    <div class="description">
                        <p>Научиться самому можно. Но до какого уровня? Бесплатные материалы не несут всю глубину знаний и не дают обратную связь. А изучение методом «тыка» займет столько времени, что будет ситуация «изучение ради изучения».</p>
                    </div>
                </div>
                <div class="item">
                    <span class="trigger"></span>
                    <div class="title">Я могу научится сам?</div>
                    <div class="description">
                        <p>Научиться самому можно. Но до какого уровня? Бесплатные материалы не несут всю глубину знаний и не дают обратную связь. А изучение методом «тыка» займет столько времени, что будет ситуация «изучение ради изучения».</p>
                    </div>
                </div>
                <div class="item">
                    <span class="trigger"></span>
                    <div class="title">Я могу научится сам?</div>
                    <div class="description">
                        <p>Научиться самому можно. Но до какого уровня? Бесплатные материалы не несут всю глубину знаний и не дают обратную связь. А изучение методом «тыка» займет столько времени, что будет ситуация «изучение ради изучения».</p>
                    </div>
                </div>
                <div class="item active">
                    <span class="trigger"></span>
                    <div class="title">Я могу научится сам?</div>
                    <div class="description">
                        <p>Научиться самому можно. Но до какого уровня? Бесплатные материалы не несут всю глубину знаний и не дают обратную связь. А изучение методом «тыка» займет столько времени, что будет ситуация «изучение ради изучения».</p>
                    </div>
                </div>
            </div>
            <span class="figure figure2-4"></span>
            <span class="figure figure2-5"></span>
        </div>
    </div>
<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
    <script type="text/javascript" src="vendor/tiny-slider/tiny-slider.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>