<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Профессиональные онлайн курсы  - 3D анимация, 3D моделирование, скульптинг, рисование, спецэффекты, композиция, концепт-арт, разработка игр и другие курсы дистанционного обучения. Успей записаться, скоро стартует учебный месяц!">
	<meta name="keywords" content="анимация, клуб аниматоров, аниматоры в россии, фриланс, анимационная студия, уроки по анимации, портфолио, персонаж, тайминг, блокинг, короткометражка, фильм, мульт, перекладка, 2D,3D, animator, animations, дорогов, школа анимации, референс, pixar, scream school, animation, blocking, animation mentor, maya, 3d max, key, character, rig, rigging, blender, setup, timing, movie, tooon, cartoon, anime, reference, short, showreel, demoreel, сообщество по анимации ищу аниматора, вакансии, флеш аниматор, работа аниматорам, фриланс, курсы режиссуры, школа анимации, живопись, рисование, мультфильм, Сериал, Буквальные истории, Авторская анимация, Федор Хитрук,wizartschool, wizart, school, wizart animation, школа компьютерной графики, школа кино индустрия, концепт-арт, иллюстрация, 3D моделирование, 3D скульптинг, курсы Zbrush, курсы 3ds max, курсы maya, cg, gamedev, курсы adobe photoshop">
	<title>CGAim - онлайн школа компьютерной графики и анимации</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="vendor/tiny-slider/tiny-slider.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,600|Play:400,700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
	<div id="first-block">
		<div class="content">
			<div class="nav-panel">
				<a href="/"><img src="img/logo.png" alt="" class="logo"></a>
				<div class="burger-menu" id="burger-menu-btn" data-target="head-main-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="nav main-menu" id="head-main-menu">
					<li class="active"><a href="#">Главная</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Онлайн курсы</a></li>
					<li><a href="#">О школе</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<a href="#" class="btn btn-pink btn-sm">Войти</a>
			</div>
			<div class="info">
				<div class="info-text">
					<div class="title">Обучаем компьютерной графике и анимации</div>
					<div class="text">Жми кнопку ниже и получи новую <br>профессию с зарплатой от 55 тыс <br>рублей уже сейчас!</div>
					<a href="#" class="btn btn-pink">Мне интересно</a>
				</div>
				<div class="info-img">
					<span class="point p1">
						<span class="point-pulse point-pulse-bg">
							<span class="pulse point-pulse-bg"></span>
						</span>
						Анимация
					</span>
					<span class="point p2">
						<span class="point-pulse point-pulse-bg">
							<span class="pulse point-pulse-bg"></span>
						</span>
						Текстурирование
					</span>
					<span class="point p3">
						Моделирование
						<span class="point-pulse point-pulse-bg">
							<span class="pulse point-pulse-bg"></span>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="item-block">
		<div class="content">
			<h3 class="title-block">О курсе</h3>
			<div class="sub-title">На нашем курсе вы ознакомитесь с принципами анимации, основными законами, также научитесь применять на практике полученные знания, создавая ритмичную 3D-анимацию.</div>
			<div class="info-stat">
				<div class="stat">
					<div class="stat-value">12</div>
					<div class="stat-label">Недель обучения</div>
				</div>
				<div class="stat">
					<div class="stat-value">24</div>
					<div class="stat-label">Насыщеных задания</div>
				</div>
				<div class="stat">
					<div class="stat-value">42</div>
					<div class="stat-label">Часа занятий</div>
				</div>
			</div>
			<h3 class="title-block">Для кого этот курс</h3>
			<div class="sub-title">Для тех, кто решил стать профессионалом своего дела, кто хочет совместить свое хобби с дальнейшей профессиональной деятельностью, хочет погрузиться в творческую атмосферу.</div>
		</div>
	</div>

	<div id="item-detail-block">
		<div class="content">
			<div class="row">
				<div class="col">
					<h4 class="title">Цель курса</h4>
					<p>Целью курса является ознакомление студента с основными принципами 3D-анимации, а также закрепления их на практике. Каждое задание открывает новый принцип движения, который осваивается учеником. Чем больше студент приложит усилий в этом классе, тем проще ему будет в дальнейшей учебе и профессиональной деятельности.</p>
					<p>В свою очередь, вы овладеете программой Autodesk MAYA, а именно её основными инструментами и функциями. Помимо этого, вы узнаете, как двигать персонажей во времени, как создавать и редактировать анимационные ключи и анимационные кривые, что такое граф эдитор (Graph Editor) <br>и как он работает, как выставить освещение в 3D сцене, как отрендерить картинку или анимацию и многие другие технические моменты, связанные с 3д графикой и анимацией.</p>
					<p>Вы освоите 12 основных законов и принципов анимации Диснея, которые стали основой классической и 3D-анимации:</p>
					<p>1. Сжатие и растяжение (Squash & stretch)<br>
						2. Подготовка к действию или движению (Anticipation)<br>
						3. Сценичность (Staging)<br>
						4. Методы создания анимации «Прямо вперед» и «От позы к позе» (Straight ahead & pose to pose)<br>
						5. Последовательность и наложение действий и движений (Follow through & overlapping action)<br>
						6. Смягчение начала и завершения движения (Slow in & slow out)<br>
						7. Движение по дугам (Arcs)<br>
						8. Второстепенные действия (Secondary action)<br>
						9. «Тайминг» – время и скорость (Timing)<br>
						10. Преувеличение, утрирование (Exaggeration)<br>
						11. Ясный рисунок/Чёткие позы (Solid drawing/Solid posing)<br>
						12. Привлекательность (Appeal)</p>
				</div>
				<div class="col">
					<div class="teacher">
						<div class="teacher-img">
							<img src="img/photo.jpg" alt="">
						</div>
						<div class="teacher-info">
							<div class="name">Александр Серебряков</div>
							<div class="subname">Ваш преподаватель</div>
							<div class="text">Дойдя до конца, люди смеются над страхами, мучившими их</div>
							<a href="#" class="btn btn-pink text-pink">Читать интервью</a>
						</div>
					</div>
					<h4 class="title">Особенности</h4>
					<p>Преподаватель подробно разбирает работу каждого ученика и дает развернутый комментарий.</p>
					<h4 class="title">Процесс обучения</h4>
					<div class="lectures">
						<div class="lectures-col">
							Лекция - Вводная<br>
							Лекция 1 - Мячик<br>
							Лекция 2 - Лиса ч.1<br>
							Лекция 3 - Лиса ч.2<br>
							Лекция 4 - Лиса ч.3<br>
							Лекция 5 - Тарелка<br>
							Лекция 6 - Прыжок ч.1
						</div>
						<div class="lectures-col">
							Лекция 7 - Прыжок ч.2<br>
							Лекция 8 - Походка<br>
							Лекция 9 - Бег<br>
							Лекция 10 - Идея ч.1<br>
							Лекция 11 - Идея ч.2<br>
							Лекция 12 - Сборка
						</div>
					</div>
					<div class="other-info">
						<h4 class="title">Данные курса</h4>
						<p><b>Основные программы:</b> Autodesk Maya - бесплатная 3х годовая лицензия (3ds Max, Blender)</p>
						<p><b>Дополнительные программы:</b> DaVinci Resolve</p>
						<p><b>Требования к студенту:</b> Желание учиться. Все необходимые знания по используемым программам будут предоставлены на курсе.</p>
						<p><b>Требования к компьютеру:</b> Процессор Intel i3 или AMD А6, оперативная память 8гб, видеокарта GeForce или Radeon с памятью 2гб и более.</p>
						<p><b>Другие требования:</b> От 5 до 12 часов в неделю, на просмотр материалов и выполнения заданий.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="item-video-trailer-block">
		<div class="content">
			<h3 class="title-block">Трейлер курса</h3>
			<iframe width="700" height="375" src="https://www.youtube.com/embed/QD6H0W0HQG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div id="item-price-block">
		<div class="content">
			<h3 class="title-block">Стоимость обучения</h3>
			<div class="subtitle text-center">Ближайший набор 02.12.2019</div>
			<div class="price-list">
				<div class="item">
					<div class="body">
						<div class="title">Стандарт</div>
						<div class="type">
							<div class="btn btn-pink active">Полная</div>
							<div class="btn btn-pink">Помесячная</div>
						</div>
						<div class="text">
							Доступ ко всем лекциям курса<br>
							Начало в назначенную дату
						</div>
						<div class="price">13 500<span>руб</span></div>
						<a href="#" class="btn btn-pink">Записаться</a>
					</div>
				</div>
				<div class="item big">
					<div class="body">
						<div class="title">Расширенный</div>
						<div class="type">
							<div class="btn btn-pink active">Полная</div>
							<div class="btn btn-pink">Помесячная</div>
						</div>
						<div class="text">
							Доступ ко всем лекциям курса<br>
							Проверка домашних работ<br>
							Закрытый канал в дискорде<br>
							Груповые онлайн встречи<br>
							Начало в назначенную дату
						</div>
						<div class="price">18 900<span>руб</span></div>
						<a href="#" class="btn btn-pink">Записаться</a>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="label">02.12.2019</div>
						<div class="title">Премиум</div>
						<div class="type">
							<div class="btn btn-pink active">Полная</div>
							<div class="btn btn-pink">Помесячная</div>
						</div>
						<div class="text">
							Доступ ко всем лекциям курса<br>
							Проверка домашних работ<br>
							Закрытый канал в дискорде<br>
							Личные онлайн встречи<br>
							Старт в ближайший понедельник
						</div>
						<div class="price">32 400<span>руб</span></div>
						<a href="#" class="btn btn-pink">Записаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="faq-block">
		<div class="content">
			<h3 class="title-block white">Появились вопросы по обучению?</h3>
			<a href="#" class="btn btn-pink">Задать вопрос</a>
		</div>
	</div>

	<div id="training-block">
		<div class="content">
			<h3 class="title-block">Как проходит обучение</h3>
			<div class="items-list">
				<div class="item">
					<div class="icon">
						<img src="img/t1.png" alt="" width="70">
					</div>
					<div class="title">Лекции</div>
					<div class="text">После оплаты получаете <br>доступ к группе, внутри вас <br>ждет вводная лекция <br>с инструкциями</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="img/t2.png" alt="" width="84">
					</div>
					<div class="title">Проверка задания</div>
					<div class="text">Домашнее задание нужно <br>сдать в конце каждой <br>недели. В ближайший <br>понедельник преподаватель <br>делает видеообзор</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="img/t3.png" alt="" width="71">
					</div>
					<div class="title">Онлайн встречи</div>
					<div class="text">В конце недели проходит <br>онлайн-встреча с преподавателем, <br>на которой вы сможете <br>задавать вопросы</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="img/t4.png" alt="" width="73">
					</div>
					<div class="title">Секретный чат</div>
					<div class="text">Помимо общего чата, студенту <br>курса выдается доступ <br>в закрытый чат Discord <br>с выпускниками школы</div>
				</div>
			</div>
		</div>
	</div>

	<div id="item-video-works-block">
		<div class="content">
			<h3 class="title-block">Работы наших студентов</h3>
			<iframe width="700" height="375" src="https://www.youtube.com/embed/QD6H0W0HQG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div id="review-block" class="review-item-block">
		<div class="content">
			<h3 class="title-block">Отзывы наших выпускников</h3>
			<div class="review-list" id="review-slider">
				<div class="item">
					<div class="title">Марина Дюмина</div>
					<div class="text">На курсах была очень интересная подача материала. Александр приводил много практических примеров из своей практики. Это всегда вызывает положительные эмоции и создает настрой на позитив, когда человек на одной волне с собеседником. Спасибо большое, за интересные лекции и познавательную информацию. Я много взяла для себя из Ваших лекций. Приятно всякий раз для себя открывать какие-то новые грани!</div>
					<a href="#" class="btn btn-pink text-pink">Оставить отзыв</a>
				</div>
				<div class="item">
					<div class="title">Марина Дюмина</div>
					<div class="text">На курсах была очень интересная подача материала. Александр приводил много практических примеров из своей практики. Это всегда вызывает положительные эмоции и создает настрой на позитив, когда человек на одной волне с собеседником. Спасибо большое, за интересные лекции и познавательную информацию. Я много взяла для себя из Ваших лекций. Приятно всякий раз для себя открывать какие-то новые грани!</div>
					<a href="#" class="btn btn-pink text-pink">Оставить отзыв</a>
				</div>
				<div class="item">
					<div class="title">Марина Дюмина</div>
					<div class="text">На курсах была очень интересная подача материала. Александр приводил много практических примеров из своей практики. Это всегда вызывает положительные эмоции и создает настрой на позитив, когда человек на одной волне с собеседником. Спасибо большое, за интересные лекции и познавательную информацию. Я много взяла для себя из Ваших лекций. Приятно всякий раз для себя открывать какие-то новые грани!</div>
					<a href="#" class="btn btn-pink text-pink">Оставить отзыв</a>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="content">
			<div class="nav-panel">
				<a href="/"><img src="img/logo.png" alt="" class="logo"></a>
				<ul class="nav main-menu">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Онлайн курсы</a></li>
					<li><a href="#">О школе</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<div class="soc">
					<a href="#" class="icon vk"></a>
					<a href="#" class="icon inst"></a>
					<a href="#" class="icon yt"></a>
				</div>
			</div>
			<div class="links">
				<a href="#">Правила&nbsp;и&nbsp;условия</a>
				<a href="#">Политика&nbsp;конфиденциальности</a>
				<span>По&nbsp;всем&nbsp;вопросам:&nbsp;<a href="mailto:info@cgaim.ru">info@cgaim.ru</a></span>
			</div>
			<div class="info">&copy; 2019, ИП Серебряков Александр Сергеевич<br>ИНН 344112777283 Счёт 40802 810 3015 0003 5607 БИК 044525999 Корр. счёт 3010 1810 8452 5000 0999 Филиал Точка Публичного акционерного общества Банка «Финансовая Корпорация Открытие» город Москва</div>
		</div>
	</div>
	<script type="text/javascript" src="vendor/tiny-slider/tiny-slider.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>